body {
    background-color: rgb(255, 0, 0)000;
    font-family: sans-serif;
  }
  
  body {
    height: 30px;
    background-image: url(Screenshot\ 2023-08-06\ 002433.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  main {
    padding: 100px;
  }
  
  .login {
    width: 300px;
    margin: 0 auto;
  }
  
  .login h2 {
    text-align: center;
  }
  
  .login form {
    margin-bottom: 20px;
  }
  
  .login input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .login button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
  }
  